/** Add css rules here for your application. */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

div.sample-main {
	clear: both;
	margin: 8px 8px 8px 8px;
	min-height: 500px;
}

div.Sample {
	text-align: left;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	min-width: 920px;
}

* html div.Sample {
   margin-top: 5px;
}

div.sample-top { 
    padding-left: 0px;
    padding-right: 0px;
}
* html div.sample-top { 
    padding-left: 0px;
} 
div.sample-top-wrap {
	height: 40px;
	background-color: #C5D9FF;
}

div.sample-bottom {
	text-align: center;
}

.gwt-DecoratorPanel .middleCenter {
    height: 100%;
    width: 100%;
  }
  
.sample-tree {
	width: 158px;
	overflow: hidden;
}


.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
	font-size:						14px;
	background-color: #deeeff; 
}

.gwt-ScrollTable .footerTable td {
	background-color: #deeeff; 
	}

.gwt-ScrollTable .dataTable td,
.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  border-color: #EEEEEE;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  white-space: nowrap;
  overflow: hidden;
}

.gwt-ScrollTable .dataTable td {
    padding:					   	0px 10px 0px 10px;
    font-size:						13px;
	cursor:         			    pointer;
}


.gwt-ScrollTable .dataTable tr.highlighted {
    background:    				  	#FAD163;
}

.gwt-ScrollTable .dataTable tr.selected td {
    background:       				#FFF7D7;
}